
#section2 {padding-top:50px;height:800px;
		font-family: arial,sans-serif;
	background-color:grey;
	background-position:center;
	background-repeat: no repeat;
	background-attachment: fixed;
	background-size:cover;		
		}