body {
    font-family: sans-serif;
    background-color: lightgrey!important;
    margin-top: 75px;
}

.center {
    text-align: center!important;
}

.text-big {
    font-size: 300%!important;
}

.bold {
    font-weight: bold!important;
}

.img-medium {
    height: 200px;
}
.container
{
    max-width:800px!important;
    margin:0 auto!important;
    color:pink!important;
    font-family:san-serif!important;
    padding:60px!important;
    
}
.container a{
    color:black!important;    
}

#counter{
length:20px    
}
