
#main1 h1#sub1{
/*float:left;*/
margin:100px auto 0 auto;
padding-top:100px;
}

#main1 h1#sub1:hover{
color:#5D00FF;

}

#main1 h1#sub2{
/*float:left;*/
margin:80px auto 0 auto;
}


#main1 h1#sub2:hover{
color:#0072FF

}

#main1 h1#sub3{
/*float:left;*/
margin:90px auto 0 auto;

}
#main1 h1#sub3:hover{
color:red
}